<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
		<dict>
			<key>title</key>
			<string>通行止め</string>
			<key>image</key>
			<string>koutsu_00001</string>
		</dict>
		<dict>
			<key>title</key>
			<string>車両通行止め</string>
			<key>image</key>
			<string>koutsu_00002</string>
		</dict>
		<dict>
			<key>title</key>
			<string>車両進入禁止</string>
			<key>image</key>
			<string>koutsu_00003</string>
		</dict>
		<dict>
			<key>title</key>
			<string>二輪の自動車以外の自動車通行止め</string>
			<key>image</key>
			<string>koutsu_00004</string>
		</dict>
		<dict>
			<key>title</key>
			<string>大型貨物自動車通行止め</string>
			<key>image</key>
			<string>koutsu_00005</string>
		</dict>
		<dict>
			<key>title</key>
			<string>大型乗用自動車通行止め</string>
			<key>image</key>
			<string>koutsu_00006</string>
		</dict>
		<dict>
			<key>title</key>
			<string>二輪の自動車・原動機付自転車通行止め</string>
			<key>image</key>
			<string>koutsu_00007</string>
		</dict>
		<dict>
			<key>title</key>
			<string>自転車以外の軽車両通行止め</string>
			<key>image</key>
			<string>koutsu_00008</string>
		</dict>
		<dict>
			<key>title</key>
			<string>大型自動二輪車及び普通自動二輪車二人乗り通行禁止</string>
			<key>image</key>
			<string>koutsu_00009</string>
		</dict>
		<dict>
			<key>title</key>
			<string>指定方向外通行禁止</string>
			<key>image</key>
			<string>koutsu_00010</string>
		</dict>
		<dict>
			<key>title</key>
			<string>指定方向外通行禁止</string>
			<key>image</key>
			<string>koutsu_00011</string>
		</dict>
		<dict>
			<key>title</key>
			<string>指定方向外通行禁止</string>
			<key>image</key>
			<string>koutsu_00012</string>
		</dict>
		<dict>
			<key>title</key>
			<string>指定方向外通行禁止</string>
			<key>image</key>
			<string>koutsu_00013</string>
		</dict>
		<dict>
			<key>title</key>
			<string>指定方向外通行禁止</string>
			<key>image</key>
			<string>koutsu_00014</string>
		</dict>
		<dict>
			<key>title</key>
			<string>指定方向外通行禁止</string>
			<key>image</key>
			<string>koutsu_00015</string>
		</dict>
		<dict>
			<key>title</key>
			<string>車両横断禁止</string>
			<key>image</key>
			<string>koutsu_00016</string>
		</dict>
		<dict>
			<key>title</key>
			<string>転回禁止</string>
			<key>image</key>
			<string>koutsu_00017</string>
		</dict>
		<dict>
			<key>title</key>
			<string>追い越しのための右側部分はみ出し通行禁止</string>
			<key>image</key>
			<string>koutsu_00018</string>
		</dict>
		<dict>
			<key>title</key>
			<string>駐停車禁止</string>
			<key>image</key>
			<string>koutsu_00019</string>
		</dict>
		<dict>
			<key>title</key>
			<string>駐車禁止</string>
			<key>image</key>
			<string>koutsu_00020</string>
		</dict>
		<dict>
			<key>title</key>
			<string>時間制限駐車区間</string>
			<key>image</key>
			<string>koutsu_00021</string>
		</dict>
		<dict>
			<key>title</key>
			<string>危険物積載車両通行止め</string>
			<key>image</key>
			<string>koutsu_00022</string>
		</dict>
		<dict>
			<key>title</key>
			<string>重量制限</string>
			<key>image</key>
			<string>koutsu_00023</string>
		</dict>
		<dict>
			<key>title</key>
			<string>高さ制限</string>
			<key>image</key>
			<string>koutsu_00024</string>
		</dict>
		<dict>
			<key>title</key>
			<string>最大幅</string>
			<key>image</key>
			<string>koutsu_00025</string>
		</dict>
		<dict>
			<key>title</key>
			<string>最高速度</string>
			<key>image</key>
			<string>koutsu_00026</string>
		</dict>
		<dict>
			<key>title</key>
			<string>最低速度</string>
			<key>image</key>
			<string>koutsu_00027</string>
		</dict>
		<dict>
			<key>title</key>
			<string>自動車専用</string>
			<key>image</key>
			<string>koutsu_00028</string>
		</dict>
		<dict>
			<key>title</key>
			<string>自転車専用</string>
			<key>image</key>
			<string>koutsu_00029</string>
		</dict>
		<dict>
			<key>title</key>
			<string>自転車及び歩行者専用</string>
			<key>image</key>
			<string>koutsu_00030</string>
		</dict>
		<dict>
			<key>title</key>
			<string>歩行者専用</string>
			<key>image</key>
			<string>koutsu_00031</string>
		</dict>
		<dict>
			<key>title</key>
			<string>一方通行</string>
			<key>image</key>
			<string>koutsu_00032</string>
		</dict>
		<dict>
			<key>title</key>
			<string>一方通行</string>
			<key>image</key>
			<string>koutsu_00033</string>
		</dict>
		<dict>
			<key>title</key>
			<string>自転車一方通行</string>
			<key>image</key>
			<string>koutsu_00034</string>
		</dict>
		<dict>
			<key>title</key>
			<string>自転車一方通行</string>
			<key>image</key>
			<string>koutsu_00035</string>
		</dict>
		<dict>
			<key>title</key>
			<string>車両通行区分</string>
			<key>image</key>
			<string>koutsu_00036</string>
		</dict>
		<dict>
			<key>title</key>
			<string>特定の種類の車両の通行区分</string>
			<key>image</key>
			<string>koutsu_00037</string>
		</dict>
		<dict>
			<key>title</key>
			<string>牽引自動車の高速道路通行区分</string>
			<key>image</key>
			<string>koutsu_00038</string>
		</dict>
		<dict>
			<key>title</key>
			<string>専用通行帯</string>
			<key>image</key>
			<string>koutsu_00039</string>
		</dict>
		<dict>
			<key>title</key>
			<string>路線バス等優先通行帯</string>
			<key>image</key>
			<string>koutsu_00040</string>
		</dict>
		<dict>
			<key>title</key>
			<string>牽引自動車の自動車専用道路第一通行帯通行指定区間</string>
			<key>image</key>
			<string>koutsu_00041</string>
		</dict>
		<dict>
			<key>title</key>
			<string>進行方向別通行区分</string>
			<key>image</key>
			<string>koutsu_00042</string>
		</dict>
		<dict>
			<key>title</key>
			<string>進行方向別通行区分</string>
			<key>image</key>
			<string>koutsu_00043</string>
		</dict>
		<dict>
			<key>title</key>
			<string>進行方向別通行区分</string>
			<key>image</key>
			<string>koutsu_00044</string>
		</dict>
		<dict>
			<key>title</key>
			<string>進行方向別通行区分</string>
			<key>image</key>
			<string>koutsu_00045</string>
		</dict>
		<dict>
			<key>title</key>
			<string>原動機付自転車の右折方向（二段階）</string>
			<key>image</key>
			<string>koutsu_00046</string>
		</dict>
		<dict>
			<key>title</key>
			<string>原動機付自転車の右折方法（小回り）</string>
			<key>image</key>
			<string>koutsu_00047</string>
		</dict>
		<dict>
			<key>title</key>
			<string>並行駐車</string>
			<key>image</key>
			<string>koutsu_00048</string>
		</dict>
		<dict>
			<key>title</key>
			<string>直角駐車</string>
			<key>image</key>
			<string>koutsu_00049</string>
		</dict>
		<dict>
			<key>title</key>
			<string>斜め駐車</string>
			<key>image</key>
			<string>koutsu_00050</string>
		</dict>
		<dict>
			<key>title</key>
			<string>警笛鳴らせ</string>
			<key>image</key>
			<string>koutsu_00051</string>
		</dict>
		<dict>
			<key>title</key>
			<string>徐行</string>
			<key>image</key>
			<string>koutsu_00052</string>
		</dict>
		<dict>
			<key>title</key>
			<string>一時停止</string>
			<key>image</key>
			<string>koutsu_00053</string>
		</dict>
		<dict>
			<key>title</key>
			<string>歩行者通行止め</string>
			<key>image</key>
			<string>koutsu_00054</string>
		</dict>
	</array>
</plist>
